<span class="session-file"
      data-id="{{ m.id }}"
      data-type="{{ m.type }}">
    <small style="font-size: 12px">
        {{ 'session.unit_master'|trans }}
    </small><br>
    {% set imagetyp = m.header.metadata.FITS.IMAGETYP|default('')|replace({"Master":""})|trim|upper %}
    {% if imagetyp == 'LIGHT' %}
        {% set filterName = m.header.metadata.aliases.filter ?? m.header.metadata.FITS.FILTER ?? null %}
        <strong>{{ filterName ? filterName : 'LIGHT' }}</strong><br>
    {% else %}
        <strong>{{ imagetyp }}</strong><br>
    {% endif %}
    <small style="font-size: 12px">
        {{ m.type }}
    </small><br>
    <small style="font-size: 10px">
        #{{ loop.index }} - {{ m.type }}
    </small>
</span>