<span class="session-file {{ e.hidden ? "bg-light-primary" : "" }}"
      data-path="{{ e.path }}"
      data-type="calibration"
      data-id="{{ e.id }}">
    <small style="font-size: 10px">
        {{ 'session.unit_calibration'|trans }}
    </small><br>
    <strong><i class="fa fa-fw fa-crosshairs"></i></strong><br>
    <small style="font-size: 12px">
        {{ e.orthogonalityDeg|number_format(1, '.', ' ') }}°
    </small><br>
    <small style="font-size: 10px">
        #{{ loop.index }} - {{ e.startedAt|date("H:i") }}
    </small>
</span>