{% set headers = image.metadata %}
{% set fits = image.metadata.FITS %}
{% set tiff = image.metadata.tiff_tags  %}
<div class="card profile-container">
    <div class="card-header">
        <div class="fa-pull-left">
            <h5>{{ 'image.title'|trans }}</h5>
        </div>
        <div class="fa-pull-right">
            <a href="openfolder:{{ local_folder_base }}/{{ image.path }}"
               class="btn btn-primary icon-btn b-r-4" title="{{ 'image.btn_open_local'|trans }}">
                <i class="fa primary fa-arrow-right-to-file"></i>
            </a>
        </div>
    </div>
    <div class="card-header person-details mt-0" >
        <div class="details mt-0">
            <div>
                <h4 class="text-primary">
                    {% if tiff %}
                        {{ tiff.ImageWidth }}x{{ tiff.ImageLength }}
                    {% else %}
                        {{ headers.width }}x{{ headers.height }}
                    {% endif %}
                </h4>
                <p class="text-secondary">SIZE</p>
            </div>
            <div>
                <h4 class="text-primary">{{ headers.format }}</h4>
                <p class="text-secondary">FORMAT</p>
            </div>
            {% if headers.mode != "" %}
                <div>
                    <h4 class="text-primary">{{ headers.mode }}</h4>
                    <p class="text-secondary">MODE</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="about-list">
            <h6>DETAILS</h6>
            <div><span class="fw-medium"><i class="ti ti-database"></i> FILE SIZE</span>
                <span class="float-end f-s-13 text-secondary">{{ headers.file.size_bytes|default(0)|filesize_format }}</span>
            </div>
            {% if headers.file.modified %}<div><span class="fw-medium"><i class="ti ti-calendar"></i> MODIFIED</span>
                <span class="float-end f-s-13 text-secondary">{{ headers.file.modified }}</span>
            </div>{% endif %}
            {% if headers.mime %}<div><span class="fw-medium"><i class="ti ti-photo"></i> MIME</span>
                <span class="float-end f-s-13 text-secondary">{{ headers.mime }}</span>
            </div>{% endif %}
            {% if headers.mode %}<div><span class="fw-medium"><i class="ti ti-photo"></i> MODE</span>
                <span class="float-end f-s-13 text-secondary">{{ headers.mode }}</span>
            </div>{% endif %}
            {% if headers.frames is not null and headers.frames != '' %}<div><span class="fw-medium"><i class="ti ti-photo"></i> FRAMES</span>
                <span class="float-end f-s-13 text-secondary">{{ headers.frames }}</span>
            </div>{% endif %}
            {% if headers.info.dpi_x %}<div><span class="fw-medium"><i class="ti ti-photo"></i> DPI</span>
                <span class="float-end f-s-13 text-secondary">{{ headers.info.dpi_x }}x{{ headers.info.dpi_y }}</span>
            </div>{% endif %}
            {% if tiff %}
                {% if tiff.Software %}<div><span class="fw-medium"><i class="ti ti-mouse"></i> SOFTWARE</span>
                    <span class="float-end f-s-13 text-secondary">{{ tiff.Software }}</span>
                </div>{% endif %}
                {% if tiff.Compression is not null and tiff.Compression != '' %}<div><span class="fw-medium"><i class="ti ti-photo"></i> COMPRESSION</span>
                    <span class="float-end f-s-13 text-secondary">{{ tiff.Compression }}</span>
                </div>{% endif %}
                {% if tiff.Orientation is not null and tiff.Orientation != '' %}<div><span class="fw-medium"><i class="ti ti-photo"></i> ORIENTATION</span>
                    <span class="float-end f-s-13 text-secondary">{{ tiff.Orientation }}</span>
                </div>{% endif %}
            {% endif %}
        </div>
    </div>
</div>
