<div class="card profile-container">
    <div class="card-header py-2">
        <div class="fa-pull-left">
            <h5 class="mb-0">{{ 'phd2.calibration.title'|trans }}</h5>
        </div>
        <div class="fa-pull-right">
            <a href="openfolder:{{ calibration.sourcePath }}"
               class="btn btn-primary icon-btn b-r-4 js-openfolder" title="{{ 'phd2.calibration.btn_open_local'|trans }}">
                <i class="fa primary fa-arrow-right-to-file"></i>
            </a>
            <a href="{{ path('phd2calibration_hide', {'id': calibration.id, 'hidden': true}) }}"
               class="btn btn-light-secondary icon-btn b-r-4" title="{{ 'phd2.calibration.btn_hide'|trans }}">
                <i class="fa primary fa-delete-left"></i>
            </a>
        </div>
    </div>

    <div class="card-body">
        <div class="profile-container mt-0">
            <div class="person-details mt-0">
                <div class="details mt-0">
                    <div>
                        <h4 class="text-primary">{{ calibration.startedAt|date("H:i") }} <small> - {{ calibration.startedAt|date("M d") }}</small></h4>
                        <p class="text-secondary">{{ 'phd2.calibration.col_time'|trans }}</p>
                    </div>
                </div>
                <div class="details mt-0">
                    {# assuming vars like: west.angle, north.angle #}
                    {% set a = calibration.headers.north.angle %}
                    {% set b = calibration.headers.west.angle %}

                    {# angle difference, wrapped to [0,360) #}
                    {% set delta = ((a - b) % 360 + 360) % 360 %}

                    {# smallest angle between the two directions: [0,180] #}
                    {% set delta = delta > 180 ? 360 - delta : delta %}

                    {# orthogonality error = |90° - delta| #}
                    {% set orthogonality = (90 - delta)|abs %}
                    <div>
                        <h4 class="text-primary">{{ calibration.orthogonalityDeg|number_format(1, '.', ' ') }}° <small>({{ orthogonality|number_format(1, '.', ' ') }}°)</small></h4>
                        <p class="text-secondary">{{ 'phd2.calibration.col_orthogonality'|trans }}</p>
                    </div>

                </div>
                <div class="details mt-0">
                    <div>
                        <h4 class="text-primary">N</h4>
                    </div>
                    <div>
                        <h4 class="text-primary">{{ calibration.headers.north.angle }}</h4>
                        <p class="text-secondary">{{ 'phd2.calibration.col_angle'|trans }}</p>
                    </div>
                    <div>
                        <h4 class="text-primary">{{ calibration.headers.north.rate }}</h4>
                        <p class="text-secondary">{{ 'phd2.calibration.col_rate'|trans }}</p>
                    </div>

                </div>
                <div class="details mt-0">
                    <div>
                        <h4 class="text-primary">W</h4>
                    </div>
                    <div>
                        <h4 class="text-primary">{{ calibration.headers.west.angle }}</h4>
                        <p class="text-secondary">{{ 'phd2.calibration.col_angle'|trans }}</p>
                    </div>
                    <div>
                        <h4 class="text-primary">{{ calibration.headers.west.rate }}</h4>
                        <p class="text-secondary">{{ 'phd2.calibration.col_rate'|trans }}</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="about-list">
            {% for key, value in calibration.headers %}
                <div>
                    <span class="fw-medium">{{ key[:1]|upper ~ key[1:] }}</span>
                    <span class="float-end f-s-13 text-secondary">{{ value|join(' ') }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
